// import the CSS framework
@import 'bootstrap-sprockets';
@import 'bootstrap';

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  margin-top: 105px; // accommodate the navbar... twice
}
section {
  @extend .row;
  margin-top: 20px;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

big.name {
  padding-left: 9px;
}

footer {
  .copyright {
    background-color: #666;
    color: #CCC;
  }
}
