@import 'animation';

@mixin keyframes-swing-horizontal($width, $name) {
  @include keyframes(swing-horizontal-#{$name}) {
    0% {
      width: $width;
      border-left-width: 0;
      border-right-width: 0;
    }
    25% {
      width: $width/2;
      border-left-width: 6px;
      border-right-width: 0;
    }
    50% {
      width: $width;
      border-left-width: 0;
      border-right-width: 0;
    }
    75% {
      width: $width/2;
      border-left-width: 0;
      border-right-width: 6px;
    }
    100% {
      width: $width;
      border-left-width: 0;
      border-right-width: 0;
    }
  }
}


@mixin dim($size) {
  width: $size;
  height: $size;
}

@mixin user-picture-dim($size) {
  .user {
    .picture {
      img {
        display: block;
        @include dim($size);
        border-color: #CCC;
      }
    }
  }
}

@mixin user-picture-heart-background($img, $pos) {
  .user {
    .picture {
      .heart {
        display: block;
        background-image: $img;
        background-position: $pos;
      }
    }
  }
}

@mixin user-picture-fx($animation) {
  .user {
    .picture {
      img {
        @include animation($animation);
      }
    }
  }
}

@include keyframes-swing-horizontal(100%, full);
@include keyframes-swing-horizontal(85%, some);

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

.friends {
  padding-bottom: 90px;
  background-color: #FFF;
  .friend {
    display: inline-block;
    width: 180px;
    height: 160px;
    margin-left: 9px;
    margin-top: 18px;
    transition: opacity 0.45s ease-out;

    .user {
      .picture {
        position: relative;
        width: 100px;  // XXX see app/models/friend.rb for the img source URL
        height: 100px;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          border-style: solid;
          transition: width, height 0.45s ease-out;
          @include transform(translate(-50%, -50%));
          display: none;
        }
        .heart {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 40%;
          height: 40%;
          background-size: 480%;
          display: none;
        }
      }
      .name {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.visibility-some {
      @include user-picture-dim(75%);
    }
    &.visibility-full {
      @include user-picture-dim(90%);
    }

    &.removing {
      @include user-picture-dim(10%);
      opacity: 0.1;
    }

    &.intentness-half {
      @include user-picture-heart-background(image-url('icons-584x433.png'), 18% 72%);
    }
    &.intentness-full {
      @include user-picture-heart-background(image-url('icons-584x433.png'), 86% 72%);
    }

    &.visibility-some:hover {
      @include user-picture-dim(85%);
      @include user-picture-fx('swing-horizontal-some 2s infinite linear');
    }
    &.visibility-full:hover {
      @include user-picture-dim(100%);
      @include user-picture-fx('swing-horizontal-full 2s infinite linear');
    }
  }
}
