
// XXX http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(pulsate) {
  0% { border-radius: 50% }
  5% { border-radius: 30% }
  10% { border-radius: 20% }
  15% { border-radius: 30% }
  20% { border-radius: 50% }
  25% { border-radius: 40% }
  30% { border-radius: 30% }
  35% { border-radius: 40% }
  40% { border-radius: 50% }
  100% { border-radius: 50% }
}

@include keyframes(breathe) {
  0% { border-radius: 50% }
  50% { border-radius: 20% }
  100% { border-radius: 50% }
}


// XXX Q&D
.panel.friend {
  box-shadow: none;
}

.panel.panel-default.friend {
  border-color: transparent;
}


@mixin user-name-background($color) {
  .user {
    .name {
      background: $color;
    }
  }
}

@mixin dim($size) {
  width: $size;
  height: $size;
}

@mixin user-picture-dim($size) {
  .user {
    .picture {
      img {
        @include dim($size);
      }
    }
  }
}

@mixin user-picture-fx($animation) {
  .user {
    .picture {
      img {
        @include animation($animation);
      }
    }
  }
}


.friend {
  transition: all 0.3s ease;

  .user {
    .picture {
      width: 100px;
      height: 100px;

      img {
        transition: all 0.3s ease;
      }
    }
  }

  &.visibility-none {
    @include user-picture-dim(20%);
  }
  &.visibility-some {
    @include user-picture-dim(40%);
  }
  &.visibility-full {
    @include user-picture-dim(80%);
  }

  &.removing {
    @include user-picture-dim(10%);
    opacity: 0.1;
  }

  &.intentness-none {
    @include user-name-background(transparent);
  }
  &.intentness-half {
    @include user-name-background(#EDE);
    @include user-picture-fx('breathe 3s infinite');
  }
  &.intentness-full {
    @include user-name-background(#FDD);
    @include user-picture-fx('pulsate .6s infinite');
  }

  &:hover {
    @include user-picture-dim(100%);
  }
}
