@import 'animation';

@include keyframes(pulsate) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

body {
  position: relative;
  background-color: #333;
  font-size: 15px;
  font-family: sans-serif;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
nav {
  form.search {
    .clear-btn {
      cursor: pointer;
      transition: opacity 0.15s;
      &.disabled {
        opacity: 0.3;
      }
    }
  }
}
