@import 'animation';

@include keyframes(pulsate) {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.9;
  }
}

html {
  overflow: auto;
}

body {
  position: relative;
  &.crush {
    background: #333 image-url('crush-bg-bg-250x249.png') fixed 0 100px;
  }
  overflow: hidden;
}
main {
  padding-bottom: 3em;
}
footer {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 0.25em;
  background-color: #666;
  color: #CCC;
  a {
    color: #FFF;
    font-weight: bold;
  }
}
nav.navbar {
  .navbar-brand.text-danger {
    color: #F2524D;
    text-shadow: 0 0 1px #D2322D, 0 0 1px #B2120D;
  }
  form.search {
    .clear-btn {
      cursor: pointer;
      transition: opacity 0.15s;
      &.disabled {
        opacity: 0.3;
      }
    }
  }
}
